<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#report tr:odd").addClass("odd");
        $("#report tr:not(.odd)").hide();
        $("#report tr:first-child").show();

        $("#report tr.odd").click(function () {
            $(this).next("tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });
        $(".hostName").html(window.location.host);

        var cnt = 1;
        $('tr.api-row').each(function () {
            var currentElement = $(this);
            $(this).closest('tr').children('td:first').text(cnt);
            cnt++;
        });

    });

</script>
<div class="featured">
    <table class="table table-bordered table-hover">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td><b>Demo API HELP</b></td>
        </tr>
    </table>

    <div style="height:10px;"></div>
    <table id="report">
        <tr style="border-radius: 5px;">
            <th style="width: 1%;">No</th>
            <th style="width: 5%;">Method</th>
            <th style="width: 70%;">Url<b style="float: right; font-family: Verdana; "></b></th>
            <th style="width: 10%;">Model</th>
        </tr>

        <!-- To Add New Template -->
        <tr class="api-row">
            <td>#</td>
            <td class="post">POST</td>
            <td>http://<span class="hostName"></span>/api/template/addTemplate</td>
            <td>Template</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Add new template</p>
            <h5>Friendly Url :</h5>
            <p>http://<span class="hostName"></span>/api/template/addTemplate</p>
            <h5>Parameters :</h5>
            <table>
                <tr class="liu">
                    <td>Parameter Name</td>
                    <td>DataType</td>
                    <td>Description</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>name</td>
                    <td>string</td>
                    <td>name of template</td>
                </tr>
                <tr></tr>

                <tr>
                    <td>email</td>
                    <td>string</td>
                    <td>Template's Email</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>type</td>
                    <td>string</td>
                    <td>Template's Type admin/superAdmin</td>
                </tr>
                <tr></tr>
            </table>
        </td>

        <!-- To Update Template -->
        <tr class="api-row">
            <td>#</td>
            <td class="post">PATCH</td>
            <td>http://<span class="hostName"></span>/api/template/updateTemplateById/:id</td>
            <td>Template</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Update Template</p>
            <h5>Friendly Url :</h5>
            <p>http://<span class="hostName"></span>/api/template/updateTemplateById:id</p>
            <h5>Parameters :</h5>
            <table>
                <tr class="liu">
                    <td>Parameter Name</td>
                    <td>DataType</td>
                    <td>Description</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>name</td>
                    <td>string</td>
                    <td>name of template</td>
                </tr>
                <tr></tr>

                <tr>
                    <td>email</td>
                    <td>string</td>
                    <td>Template's Email</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>type</td>
                    <td>string</td>
                    <td>Template's Type admin/superAdmin</td>
                </tr>
                <tr></tr>
            </table>
        </td>

        <!--To Get all Templates-->
        <tr class="api-row">
            <td>#</td>
            <td class="get">GET</td>
            <td>http://<span class="hostName"></span>/api/template/getTemplates</td>
            <td>Template</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Get All Templates</p>
            <h5>Friendly Url :</h5>
            <p>http://<span class="hostName"></span>/api/template/getTemplates
            </p>
        </td>


        <!--To Remove Template By Id-->
        <tr class="api-row">
            <td>#</td>
            <td class="post">DELETE</td>
            <td>http://<span class="hostName"></span>/api/template/removeTemplateById/:id</td>
            <td>Template</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Remove Template By Id</p>
            <h5>Friendly Url :</h5>
            <p>http://<span class="hostName"></span>/api/template/removeTemplateById/:id
            </p>
            <h5>Parameters :</h5>
            <table>
                <tr class="liu">
                    <td>Parameter Name</td>
                    <td>DataType</td>
                    <td>Description</td>
                </tr>
                <tr></tr>

                <tr>
                    <td>id</td>
                    <td>string</td>
                    <td>Template's Id</td>
                </tr>
                <tr></tr>

            </table>
        </td>
 
    </table>
</div>

</html>