<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template HTML</title>
    <style>
        a {
            text-decoration: none;
            color: #136ACD;
            display: inline-block;
        }
    </style>
</head>

<body style="border: 1px solid; padding: 2em;">
    <div style="font-size: 20px;"><img src="{{mainImage}}" alt="mainImage"
            style="float: right;width:120px;height:120px;margin-left:15px;">
        <p>{{date}}</p>
        <p>Report Created By: {{createdBy}}</p>
        <p>Report Created For:{{createdFor}}</p>
    </div>
    <p>
    <h2>{{companyName}}</h2>
    </p>
    <p style="border:2px solid red; width:700px;"></p>
    <div style="font-size: 18px;"><img src="{{mainImage}}" alt="mainImage"
            style="float: right;width:200px;height:210px;margin-left:15px;">
        <h3>{{title}}</h3>
        <p>{{subTitle}}</p>
    </div>
    <br>
    <div style="text-align: left;width:300px">
        <p>{{detail}}</p>
    </div>
    <br>
    <p style="border:1px solid red; width:700px;"></p>
    <img src="{{otherImage}}" alt="otherImage"
        style="width:200px;height:200px;margin-left:15px;">
    <br>
    <p style="border:1px solid red; width:700px;"></p>
    <br>
    <div>
        <img src="{{signature}}" alt="signature"
            style="float: right;width:100px;height:80px;margin-left:15px;">
    </div>
    <br>
    <br>
    <br>

</body>

</html>